body{
margin:0;
background:linear-gradient(#000,#111);
color:white;
text-align:center;
font-family:Arial;
}

h1{
font-size:42px;
}

button{
padding:12px 20px;
margin:10px;
font-size:16px;
cursor:pointer;
background:#333;
color:white;
border:none;
border-radius:8px;
}

button:hover{
background:#555;
}

#game{
display:none;
margin:auto;
background:black;
border:3px solid white;
}

#shop{
display:none;
background:#222;
padding:20px;
}